<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="user">




	<insert id="insertUser" parameterType="user">
				insert into member values(#{userID},#{userPassword},#{userName},#{userAge},#{userGender},#{email},#{profile,jdbcType=VARCHAR})
	</insert>
	
	<select id="selectOneMember" resultType="user">
		select * from member where userid=#{userID}
	</select>
	<select id="selectOneUser" resultType="user">
		select * from member where userid=#{userID}
	</select>
	<select id="checkId" resultType="_int">
		select count(*) from member where userid=#{userID}
	</select>
	
	<select id="getChatListByID" resultType="chat">
		select * from chat where 
		((fromid=#{fromID} and toId=#{toID}) 
		or (toId=#{toID} and fromId=#{fromID}))
		order by chatTime
		<!-- 
		select * from chat where 
		((fromid=#{fromID} and toId=#{toID}) 
		or (fromId=#{fromID} and toId=#{toID}))
		and chatId > (${chatId} -1) order by chatTime 
		-->
	</select>
		<select id="getChatListByRecent" resultType="chat">
		select * from chat where 
		((fromid=#{fromID} and toId=#{toID}) 
		or (toId=#{toID} and fromId=#{fromID}))
		and chatId >(select max(chatId) - '20' from chat 
		where (fromid=#{fromID} and toId=#{toID}) 
		or (toId=#{toID} and fromId=#{fromID})) order by chatTime
	</select>
	<insert id="submit" parameterType="chat">
		insert into chat values(chatId.nextval,#{fromID},#{toID},#{chatContent},sysdate,'0')
	</insert>
	<select id="userRegisterCheck" resultType="_int">
		select count(*) from member where userID=#{userID}
		
	</select>
	<select id="getChat" resultType="chat">
		       select * from chat where fromid = #{fromID} and toID=#{toID}
	</select>
	
	<update id="reaChat" parameterType="_int">
		update chat set chatRead= '1' where (fromId=#{fromID} and toID=#{toID})
	</update>
	<select id="getAllUnreadChat" resultType="_int">
		select count(chatID) from chat where toID=#{userID} and chatRead='0'
	</select>
	<select id="selectUser" resultType="user">
		select * from member where userID=#{userID}
	</select>
</mapper>
