<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="user">




	<insert id="insertUser" parameterType="user">
				insert into member values(#{userID},#{userPassword},#{userName},#{userAge},#{userGender},#{email},#{profile,jdbcType=VARCHAR})
	</insert>
	
	<select id="selectOneMember" resultType="user">
		select * from member where userid=#{userID}
	</select>
	<select id="selectOneUser" resultType="user">
		select * from member where userid=#{userID}
	</select>
	<select id="checkId" resultType="_int">
		select count(*) from member where userid=#{userID}
	</select>
	
	<select id="getChatListByID" resultType="map">
		select * from chat where 
		((fromid=#{fromID} and toId=#{toID}) 
		or (fromId=#{fromID} and toId=#{toID}))
		and chatId > #{chatId} order by chatTime
	</select>
		<select id="getChatListByRecent" resultType="map">
		select * from chat where 
		((fromid=#{fromID} and toId=#{toID}) 
		or (fromId=#{fromID} and toId=#{toID}))
		and chatId >(select max(chatId) - #{chatId} from chat) order by chatTime
	</select>
	<insert id="submit" parameterType="chat">
		insert into chat values(chatId.nextval,#{fromID},#{toID},#{chatContent},sysdate)
	</insert>
	<select id="userRegisterCheck" resultType="_int">
		select count(*) from member where userID=#{userID}
		
	</select>
</mapper>
