<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC " -//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	 		<settings>
				<setting value="VARCHAR" name="jdbcTypeForNull"/>
 			</settings>
	<typeAliases>
		<typeAlias type="com.web.ajax.user.model.vo.User" alias="user"/>
		<typeAlias type="com.web.ajax.user.model.vo.Chat" alias="chat"/>
		
	</typeAliases>
</configuration>
